.spoilerbutton {
    border: 2px solid #000000;
    padding: 0px 2px;
    margin:10px 0px;
    font-weight: bold;
    color:#000000;
}

.spoiler {
    background: white;
    border-size:1px;
    border-style:solid;
    border-color:black;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 50%;
}

.hrdiv {
    background-color: blue;
}

.help {
    font-weight: bold;
}

p {
    overflow-wrap: break-word;
    word-wrap: normal;
}

hr {
    border-color: blue;
}